* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    font-family: Inter, sans-serif;
    background: black;
}

.event {
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, #c765d1, #cb7bd3);
    border-top-left-radius: 80% 20%;
    border-top-right-radius: 80% 20%;
    margin-top: -20px;
    padding-top: 40px;
    min-height: 100vh;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

textarea {
    width: 80%;
    max-width: 300px;
    min-height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    resize: none;
}

textarea::placeholder {
    color: #999;
}

.icon-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#conferma {
    text-align: center;
    padding: 50px 20px;
}

#conferma h2 {
    color: white;
    font-size: 24px;
}

#conferma p {
    font-size: 16px;
    color: #f8f8f8;
}

#errore {
    margin-top: 10px;
    color: yellow;
    font-weight: bold;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon-button {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    outline: 3px solid rgba(30, 30, 30, 0.75);
    outline-offset: -2px;
    border: none;
}

.circle-button {
    width: 86px;
    height: 86px;
    background-color: #0e2045;
    border-radius: 50%;
    margin: 1rem auto 0;
    display: block;
    border: none;
}

.img-container {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 1rem;
}
